.custom-categories-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__line {
    position: absolute;
    top: 100%;
    left: calc(50% - 15px);
    height: 30px;
    width: 2px;
    background-color: #bebdbd;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    position: relative;

    &--title {
      min-width: 100px;
      text-align: center;
      padding: 10px 20px;
      background-color: #fff;
      border: 1px dashed #bebdbd;
      position: relative;
      z-index: 1;
    }
  }

  &__items {
    display: flex;
  }
}

.more-than-two {
  margin-top: 29px;
  gap: 50px;
}

.plus-icon,
.edit-icon,
delete-icon,
save-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* Стили для текста внутри блока service */
.service .custom-category__block--title {
  background-color: #ffcccb;
  border: 1px solid rgb(60, 0, 255);
  border-radius: 5px;
  padding: 10px;
  color: rgb(68, 0, 255);
}
